
// End
       
         const game = new Phaser.Game(config);
         document.getElementById('title').innerHTML=config.name;
         document.title = config.name;
	    }
      
        window.onload = function() { 
             main();
      }
	    
	    
        </script>
    </head>
    <body>
        <h1 id="title">Test</h1>
        <div id="phaser-demo"></div>
</body>
</html>
